/*div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}*/

.tituloestoqueloja{   
    font-family: sans-serif;
    color: #007bff;
}
.linhaestoqueloja{
    margin: 5px 0 0 15px;
    width: 100%;
    border-color:#007bff;
}
.ContainerEstoque{
    display: grid;
    grid-column: 1/3;
    justify-content: center;
    align-content: center;
}

#CampoFornecedor{
    margin: 17px 0 0 0;
   
}
.Campo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0 0 0;
}

.selectestoqueloja{
    margin: -10px 0 0 0;
    width: 100%;
}
.campestoque{
    display: flex;
    justify-content: space-between;
}
.Campo1{
    display: flex;
    margin: 15px 0 0 0;   
}
#Campo{
    width: 100%;
}
.Campo2{
    display: grid;
    width: 30%;
    justify-self: end;
 
    
}
.Botaoestoqueloja{
    width: 10%;
    margin: 12px 0 25px 0;

}

.Tableestoqueloja{
    display: grid;
    width: 65%;
    margin: 10px 0 0 0;
}


@media screen and (max-width: 600px) {
  
    .Campo1{
        display: grid;
        width: 100%;
    }
    
    .Botaoestoqueloja{
        width: 50%;
        justify-self: center;
        margin-bottom: 30px;
    }
    .Tableestoqueloja{
        display: grid;
        width: 100%;
    }
    .Campo2{
        display: grid;
        justify-self: center;
        margin-top: 35px;
        width: 90%;
        margin-bottom: 15px;
    }
    
}