/*div{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-gap: 10px;

}*/

.Container{
    display: grid;
    grid-column: 1/3;
    justify-content: center;
    align-content: center;
}

#linhafornecedor{
    width: 100%;
    margin-left: 0;
}
#titulofornecedor{
   margin: 5% 0 0 0;
   color: #007BFF;

}
.Campoestoquefornecedor{
    display: flex;
    margin: 20px 0 0 0;
    color: #363636;

}
.Campofornecedor{  
    width: 25%;
    justify-self: end;
    
}
#botaofornecedor{
    width: 10%;
    height: min-content;
    margin: 12px;
    justify-self: end;
}
.campoetabela{
    display: flex;
    justify-content: space-between;
}
.tabelaestoquefornecedor{
    display: grid;
    width: 68%;
    max-height: 60vh;
}


@media screen and (max-width: 600px) {
    .Campoestoquefornecedor{
        display: grid;
        width: 90%;
        justify-self: center;
    }
    #botaofornecedor{
        width: 55%;
        justify-self: center;
        margin-bottom: 30px;
    }
    .tabelaestoquefornecedor{
        width: 100%;
    }

    .Campofornecedor{
        display: grid;
        width: 90%;
        justify-self: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .campoetabela{
        display: grid;
    }

}