
#linha{
    width: 100%;
    margin-left: 0;
}
#titulo{
   margin: 5% 0 0 0;

}
#Botao{
    width: 10%;
    margin-left: 3%;
}
.botao2{
    margin: 20px 0 0 0;
}
/*css pedidos e trocas*/

.Tab{
    display: grid;
    width: 65%;
}